In [1]:
pip install datapackage

Requirement already satisfied: datapackage in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (1.15.2)
Requirement already satisfied: unicodecsv>=0.14 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from datapackage) (0.14.1)
Requirement already satisfied: tableschema>=1.12.1 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from datapackage) (1.20.2)
Requirement already satisfied: requests>=2.8 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from datapackage) (2.24.0)
Requirement already satisfied: tabulator>=1.29 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from datapackage) (1.53.4)
Requirement already satisfied: jsonschema>=2.5 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from datapackage) (3.2.0)
Requirement already satisfied: click>=6.7 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from datapackage) (7.1.2)
Requirement already satisfied: six>=1.10 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from datapackage) (1.15.0)
Requirement already satisfied: jsonpointer>=1.10 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from datapackage) (2.0)
Requirement already satisfied: chardet>=3.0 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from datapackage) (3.0.4)
Requirement already satisfied: isodate>=0.5.4 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (0.6.0)
Requirement already satisfied: python-dateutil>=2.4 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (2.8.1)
Requirement already satisfied: rfc3986>=1.1.0 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (1.4.0)
Requirement already satisfied: cached-property>=1.5 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (1.5.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.8->datapackage) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.8->datapackage) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.8->datapackage) (2.10)
Requirement already satisfied: ijson>=3.0.3 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (3.1.4)
Requirement already satisfied: jsonlines>=1.1 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (2.0.0)
Requirement already satisfied: linear-tsv>=1.0 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (1.1.0)
Requirement already satisfied: sqlalchemy>=0.9.6 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (1.3.18)
Requirement already satisfied: openpyxl>=2.6 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (3.0.4)
Requirement already satisfied: boto3>=1.9 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (1.16.59)
Requirement already satisfied: xlrd>=1.0 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (1.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from jsonschema>=2.5->datapackage) (0.16.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from jsonschema>=2.5->datapackage) (19.3.0)
Requirement already satisfied: setuptools in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from jsonschema>=2.5->datapackage) (49.2.0.post20200714)
Requirement already satisfied: jdcal in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.4.1)
Requirement already satisfied: et-xmlfile in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.0.1)
Requirement already satisfied: botocore<1.20.0,>=1.19.59 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (1.19.59)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.3.4)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /Users/Dani/opt/anaconda3/lib/python3.8/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.10.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from datapackage import Package

package = Package('https://datahub.io/sports-data/spanish-la-liga/datapackage.json')

columns_package = ['Div','Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A']

dictionary_variables = {'Div':'League Division','Date':'Match Date (dd/mm/yy)','Time':'Match Time','HomeTeam':'Home Team','AwayTeam':'Away Team','FTHG':'Full Time Home Team Goals','FTAG':'Full Time Away Team Goals','FTR':'Full Time Result (H Home Win, D Draw, A Away Win)','HS':'Home Team Shots','AS':'Away Team Shots','HST':'Home Team Shots on Target','AST':'Away Team Shots on Target','B365H':'Bet365 home win odds','B365D':'Bet365 draw odds','B365A':'Bet365 away win odds','season':'number of season'}

# Create historical data : season 2009-2010 to 2018-2019

historical_data = pd.DataFrame()

for resource in package.resources:
        if resource.descriptor['datahub']['type'] == 'derived/csv':
            x = pd.DataFrame(data = resource.read())
            x = x.drop(x.columns[range(25,len(x.columns))], axis=1)
            x.columns = columns_package
            x = x.drop(['HTHG','HTAG','HTR','HF','AF','HC','AC','HY','AY','HR','AR'], axis = 1)
            x['season'] = resource.name[7:11]
            historical_data = historical_data.append(x)

In [3]:
# Append season 2019-2020

season_1920 = pd.read_csv('https://www.football-data.co.uk/mmz4281/1920/SP1.csv', header = 0, usecols = ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'B365H', 'B365D', 'B365A'])
season_1920['season'] = '1920'
historical_data = historical_data.append(season_1920)

In [4]:
# Current season (2020-2021)

season_2021 = pd.read_csv('http://www.football-data.co.uk/mmz4281/2021/SP1.csv', header = 0, usecols = ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS', 'HST', 'AST', 'B365H', 'B365D', 'B365A'])
season_2021['season'] = '2021'
historical_data = historical_data.append(season_2021)

In [5]:
# Fitting some format variables

historical_data['Date'] = pd.to_datetime(historical_data['Date'], infer_datetime_format=True)
historical_data['B365H'] = historical_data['B365H'].astype(float)
historical_data['B365D'] = historical_data['B365D'].astype(float)
historical_data['B365A'] = historical_data['B365A'].astype(float)

In [6]:
historical_data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,B365H,B365D,B365A,season
0,SP1,2018-08-17,Betis,Levante,0,3,A,22,6,8,4,1.66,4.0,5.0,1819
1,SP1,2018-08-17,Girona,Valladolid,0,0,D,13,2,1,1,1.75,3.6,5.0,1819
2,SP1,2018-08-18,Barcelona,Alaves,3,0,H,25,3,9,0,1.11,10.0,21.0,1819
3,SP1,2018-08-18,Celta,Espanol,1,1,D,12,14,2,5,1.85,3.5,4.5,1819
4,SP1,2018-08-18,Villarreal,Sociedad,1,2,A,16,8,7,4,2.04,3.4,3.8,1819

I keep the variables: goals, shoots and BET365 quotas for coming purposes but for the final database can not be included ( because would be flawness estimators)

In [7]:
# Headers
dictionary_variables

{'Div': 'League Division',
 'Date': 'Match Date (dd/mm/yy)',
 'Time': 'Match Time',
 'HomeTeam': 'Home Team',
 'AwayTeam': 'Away Team',
 'FTHG': 'Full Time Home Team Goals',
 'FTAG': 'Full Time Away Team Goals',
 'FTR': 'Full Time Result (H Home Win, D Draw, A Away Win)',
 'HS': 'Home Team Shots',
 'AS': 'Away Team Shots',
 'HST': 'Home Team Shots on Target',
 'AST': 'Away Team Shots on Target',
 'B365H': 'Bet365 home win odds',
 'B365D': 'Bet365 draw odds',
 'B365A': 'Bet365 away win odds',
 'season': 'number of season'}

In [8]:
historical_data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,B365H,B365D,B365A,season
0,SP1,2018-08-17,Betis,Levante,0,3,A,22,6,8,4,1.66,4.0,5.0,1819
1,SP1,2018-08-17,Girona,Valladolid,0,0,D,13,2,1,1,1.75,3.6,5.0,1819
2,SP1,2018-08-18,Barcelona,Alaves,3,0,H,25,3,9,0,1.11,10.0,21.0,1819
3,SP1,2018-08-18,Celta,Espanol,1,1,D,12,14,2,5,1.85,3.5,4.5,1819
4,SP1,2018-08-18,Villarreal,Sociedad,1,2,A,16,8,7,4,2.04,3.4,3.8,1819

Now a clasification by season/team and date by date is needed to calculate the trends in terms of points, winning/lossing streaks, goals, shoots,etc.

In [9]:
# Table by season|HomeTeam|Date

aux_table_1 = pd.DataFrame(historical_data.groupby(['season','HomeTeam', 'Date'])['Div'].count()).reset_index()
aux_table_1.drop(columns =['Div'], inplace=True)
aux_table_1.rename(columns={"HomeTeam": "Team"}, inplace = True)
aux_table_1['Home/Away'] = 'H'

# Table by season|AwayTeam|Date
aux_table_2 = pd.DataFrame(historical_data.groupby(['season','AwayTeam', 'Date'])['Div'].count()).reset_index()
aux_table_2.drop(columns =['Div'], inplace=True)
aux_table_2.rename(columns={"AwayTeam": "Team"}, inplace = True)
aux_table_2['Home/Away'] = 'A'

# Table by season|Team|Date
aux_table = aux_table_1.append(aux_table_2, ignore_index=True, sort = True)
aux_table.sort_values(by=['season','Team','Date'] ,ascending = True, ignore_index=False, inplace = True)
aux_table.reset_index(inplace=True)
aux_table.drop(columns =['index'], inplace=True)

# Assigning number of match
aux_table['match']  = aux_table.groupby(['season', 'Team']).cumcount() + 1

In [10]:
aux_table

           Date Home/Away        Team season  match
0    2009-08-30         H     Almeria   0910      1
1    2009-09-13         A     Almeria   0910      2
2    2009-09-20         H     Almeria   0910      3
3    2009-09-23         A     Almeria   0910      4
4    2009-09-27         H     Almeria   0910      5
...         ...       ...         ...    ...    ...
8935 2021-03-14         A  Villarreal   2021     25
8936 2021-03-21         H  Villarreal   2021     26
8937 2021-05-03         A  Villarreal   2021     27
8938 2021-06-02         A  Villarreal   2021     28
8939 2021-08-01         A  Villarreal   2021     29

[8940 rows x 5 columns]

Now I will add the information contained in the historica dataset

In [11]:
# Adding the variables from historical dataset

historical_acc_1 = aux_table.merge(historical_data, how = 'inner', left_on=['Date','Team'], right_on=['Date','HomeTeam'])
historical_acc_2 = aux_table.merge(historical_data, how = 'inner', left_on=['Date','Team'], right_on=['Date','AwayTeam'])
historical_acc = historical_acc_1.append(historical_acc_2)

# Rearranging

historical_acc.sort_values(by=['season_x','Team','Date'], inplace = True)

# Calculation of the points

historical_acc['victory']  = historical_acc['Home/Away'] == historical_acc['FTR'] 
historical_acc['draw'] = historical_acc['FTR'] == 'D'
historical_acc['points'] = (historical_acc['victory']) * 3 + historical_acc['draw']
                           
# Removing useless columns
                           
historical_acc.drop(labels=['HomeTeam','AwayTeam','season_y','victory','draw'], axis = 1, inplace = True)
historical_acc.rename(columns = {'season_x': 'season'}, inplace = False)

,Date,Home/Away,Team,season,match,Div,FTHG,FTAG,FTR,HS,AS,HST,AST,B365H,B365D,B365A,points
0,2009-08-30,H,Almeria,0910,1,SP1,0,0,D,20,7,5,1,2.10,3.30,3.50,1
0,2009-09-13,A,Almeria,0910,2,SP1,1,0,H,16,7,4,0,2.38,3.25,3.00,0
1,2009-09-20,H,Almeria,0910,3,SP1,1,0,H,11,23,3,11,2.50,3.25,2.80,3
1,2009-09-23,A,Almeria,0910,4,SP1,2,2,D,24,12,9,7,1.44,4.33,7.00,1
2,2009-09-27,H,Almeria,0910,5,SP1,2,2,D,13,13,4,6,2.25,3.25,3.20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4466,2021-03-14,A,Villarreal,2021,25,SP1,1,3,A,16,13,7,8,2.90,3.40,2.40,3
4469,2021-03-21,H,Villarreal,2021,26,SP1,2,1,H,13,9,4,3,1.44,4.20,7.50,3
4467,2021-05-03,A,Villarreal,2021,27,SP1,2,1,H,25,10,4,5,4.00,3.40,1.95,0
4468,2021-06-02,A,Villarreal,2021,28,SP1,2,2,D,8,9,2,4,6.50,3.80,1.53,1
4469,2021-08-01,A,Villarreal,2021,29,SP1,0,4,A,8,15,3,6,3.40,3.30,2.20,3

In the same way I calculated the points I will calculate the Goals/Shots/Shots in Target

In [12]:
# Calculation of the goals/shots/shots on target

historical_acc['in_home']  = historical_acc['Home/Away'] == 'H'
historical_acc['away_game']  = historical_acc['Home/Away'] == 'A'

# For

historical_acc['goals_for'] = (historical_acc['in_home'] * historical_acc['FTHG']) + (historical_acc['away_game'] * historical_acc['FTAG'])
historical_acc['shots_for'] = (historical_acc['in_home'] * historical_acc['HS']) + (historical_acc['away_game'] * historical_acc['AS'])
historical_acc['shots_target_for'] = (historical_acc['in_home'] * historical_acc['HST']) + (historical_acc['away_game'] * historical_acc['AST'])

# Against

historical_acc['goals_against'] = (historical_acc['in_home'] * historical_acc['FTAG']) + (historical_acc['away_game'] * historical_acc['FTHG'])
historical_acc['shots_against'] = (historical_acc['in_home'] * historical_acc['AS']) + (historical_acc['away_game'] * historical_acc['HS'])
historical_acc['shots_target_against'] = (historical_acc['in_home'] * historical_acc['AST']) + (historical_acc['away_game'] * historical_acc['HST'])


historical_acc.reset_index(inplace = True)
historical_acc.drop(columns=['index','in_home','away_game'], inplace = True)

In [13]:
historical_acc.head(40)

,Date,Home/Away,Team,season_x,match,Div,FTHG,FTAG,FTR,HS,AS,HST,AST,points,goals_for,shots_for,shots_target_for,goals_against,shots_against,shots_target_against
0,2009-08-30,H,Almeria,0910,1,SP1,0,0,D,20,7,5,1,1,0,20,5,0,7,1
1,2009-09-13,A,Almeria,0910,2,SP1,1,0,H,16,7,4,0,0,0,7,0,1,16,4
2,2009-09-20,H,Almeria,0910,3,SP1,1,0,H,11,23,3,11,3,1,11,3,0,23,11
3,2009-09-23,A,Almeria,0910,4,SP1,2,2,D,24,12,9,7,1,2,12,7,2,24,9
4,2009-09-27,H,Almeria,0910,5,SP1,2,2,D,13,13,4,6,1,2,13,4,2,13,6
5,2009-10-03,A,Almeria,0910,6,SP1,1,0,H,17,0,7,0,0,0,0,0,1,17,7
6,2009-10-18,A,Almeria,0910,7,SP1,1,2,A,16,18,5,7,3,2,18,7,1,16,5
7,2009-10-25,H,Almeria,0910,8,SP1,0,3,A,9,18,2,7,0,0,9,2,3,18,7
8,2009-11-01,A,Almeria,0910,9,SP1,2,1,H,21,12,6,4,0,1,12,4,2,21,6
9,2009-11-08,H,Almeria,0910,10,SP1,2,0,H,10,10,3,1,3,2,10,3,0,10,1
10,2009-11-22,A,Almeria,0910,11,SP1,3,1,H,11,20,5,10,0,1,20,10,3,11,5
11,2009-11-29,H,Almeria,0910,12,SP1,1,4,A,13,17,5,7,0,1,13,5,4,17,7
12,2009-12-05,A,Almeria,0910,13,SP1,4,2,H,37,9,14,4,0,2,9,4,4,37,14
13,2009-12-13,H,Almeria,0910,14,SP1,1,1,D,15,17,4,4,1,1,15,4,1,17,4
14,2009-12-20,A,Almeria,0910,15,SP1,2,0,H,18,9,4,3,0,0,9,3,2,18,4
15,2010-01-03,H,Almeria,0910,16,SP1,1,0,H,12,10,4,2,3,1,12,4,0,10,2
16,2010-01-09,A,Almeria,0910,17,SP1,1,1,D,9,8,3,3,1,1,8,3,1,9,3
17,2010-01-17,H,Almeria,0910,18,SP1,1,1,D,16,12,4,5,1,1,16,4,1,12,5
18,2010-01-23,A,Almeria,0910,19,SP1,1,0,H,10,9,3,3,0,0,9,3,1,10,3
19,2010-01-31,A,Almeria,0910,20,SP1,1,1,D,12,12,2,4,1,1,12,4,1,12,2
20,2010-02-07,H,Almeria,0910,21,SP1,3,1,H,13,14,3,7,3,3,13,3,1,14,7
21,2010-02-14,A,Almeria,0910,22,SP1,2,2,D,14,12,8,5,1,2,12,5,2,14,8
22,2010-02-21,H,Almeria,0910,23,SP1,1,0,H,13,18,5,9,3,1,13,5,0,18,9
23,2010-02-28,A,Almeria,0910,24,SP1,0,2,A,12,5,0,2,3,2,5,2,0,12,0
24,2010-03-06,H,Almeria,0910,25,SP1,2,2,D,7,22,2,8,1,2,7,2,2,22,8
25,2010-03-14,H,Almeria,0910,26,SP1,1,0,H,7,15,3,3,3,1,7,3,0,15,3
26,2010-03-21,A,Almeria,0910,27,SP1,2,0,H,23,8,7,3,0,0,8,3,2,23,7
27,2010-03-24,H,Almeria,0910,28,SP1,1,0,H,11,14,3,4,3,1,11,3,0,14,4
28,2010-03-28,A,Almeria,0910,29,SP1,1,0,H,21,9,11,2,0,0,9,2,1,21,11
29,2010-04-04,H,Almeria,0910,30,SP1,1,1,D,16,17,6,8,1,1,16,6,1,17,8
30,2010-04-11,A,Almeria,0910,31,SP1,4,1,H,25,11,11,5,0,1,11,5,4,25,11
31,2010-04-15,H,Almeria,0910,32,SP1,1,2,A,10,32,4,15,0,1,10,4,2,32,15
32,2010-04-18,A,Almeria,0910,33,SP1,0,0,D,18,18,4,2,1,0,18,2,0,18,4
33,2010-04-25,H,Almeria,0910,34,SP1,0,1,A,13,16,2,6,0,0,13,2,1,16,6
34,2010-05-01,A,Almeria,0910,35,SP1,2,1,H,11,18,2,3,0,1,18,3,2,11,2
35,2010-05-04,H,Almeria,0910,36,SP1,4,2,H,11,16,4,9,3,4,11,4,2,16,9
36,2010-05-08,A,Almeria,0910,37,SP1,2,2,D,17,9,7,5,1,2,9,5,2,17,7
37,2010-05-15,H,Almeria,0910,38,SP1,2,3,A,14,11,5,5,0,2,14,5,3,11,5
38,2009-08-30,H,Ath Bilbao,0910,1,SP1,1,0,H,14,8,4,1,3,1,14,4,0,8,1
39,2009-09-13,A,Ath Bilbao,0910,2,SP1,0,1,A,17,15,4,5,3,1,15,5,0,17,4

In [32]:
dictionary_variables

{'Div': 'League Division',
 'Date': 'Match Date (dd/mm/yy)',
 'Time': 'Match Time',
 'HomeTeam': 'Home Team',
 'AwayTeam': 'Away Team',
 'FTHG': 'Full Time Home Team Goals',
 'FTAG': 'Full Time Away Team Goals',
 'FTR': 'Full Time Result (H Home Win, D Draw, A Away Win)',
 'HS': 'Home Team Shots',
 'AS': 'Away Team Shots',
 'HST': 'Home Team Shots on Target',
 'AST': 'Away Team Shots on Target',
 'B365H': 'Bet365 home win odds',
 'B365D': 'Bet365 draw odds',
 'B365A': 'Bet365 away win odds',
 'season': 'number of season'}